body {
  font-size: 20px !important;
}

.header {
  margin-top: 15px;
}

.header-content {
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
}

.header-content__title {
  text-align: center;
}

.header-content__profile {
  text-align: center;
}

.header-content__profile span {
  margin-left: 10px;
}

.header-content__profile img {
  width: 64px;
  height: 64px;
}

.table {
  margin-top: 30px;
}

.table-titles ul {
  border: 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.table-titles ul li {
  padding: 25px 80px;
}

.table-group select {
  margin-left: 10px;
}

.table-block {
  overflow: auto;
  max-height: 500px;
}

.table-block table td {
  padding: 10px;
}

.footer-copyright {
  text-align: center;
}

#show_link {
  display: none;
}
/*# sourceMappingURL=style.css.map */