body
    font-size: 20px !important
.header
    margin-top: 15px
    &-content
        border-bottom: 1px solid #000
        padding-bottom: 10px 
        &__title
            text-align: center
        &__profile
            text-align: center
            span
                margin-left: 10px
        &__profile img 
            width: 64px
            height: 64px

.table 
    margin-top: 30px
    &-titles ul
        border: 1px solid
        display: flex
        list-style: none
        li 
            padding: 25px 80px
    &-group select
        margin-left: 10px
    &-block
        overflow: auto
        max-height: 500px
        table 
            td
                padding: 10px


.footer
    &-copyright
        text-align: center


#show_link
    display: none          