body {
  font-size: 20px !important;
}

.weather {
  margin-top: 30px;
}

.weather-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather-block:hover {
  -webkit-box-shadow: 0 0 10px;
          box-shadow: 0 0 10px;
}

.weather-block__date {
  padding: 0 57px 0 57px;
  background-color: #0097b9;
  text-align: center;
}

.weather-block__date span {
  color: #ffffff;
}

.weather-block__temperature span {
  font-size: 25px;
}
/*# sourceMappingURL=style.css.map */