body
    font-size: 20px !important
.weather
    margin-top: 30px
    &-block
        display: flex
        flex-direction: column
        align-items: center
        &:hover
            box-shadow: 0 0 10px
        &__date
            padding: 0 57px 0 57px
            background-color: #0097b9
            text-align: center
            span
                color: #ffffff
        &__image
        &__temperature
            span
                font-size: 25px  