body {
    font-size: 18px; 
} 
.container {
    width: 100%; 
    max-width: 1024px; /*максимальная ширина может иметь другое значение*/
    padding: 15px;
    margin: 0 auto;
}
.container:after {
    content: "";
    display: table;
    clear: both;
}

.about-authors-title {
    font-size: 20px;
}
.about-authors-subtitle {
    font-size: 25px;
}

.about-authors__column1 {
    width: 45%;
    float: left;
} 

.books-content1__list {
    width: 45%;
    float: right; 
}

.about-authors__column2 {
    width: 45%;
    float: right;  
}

.about-authors__column-image img {
    width: 122px;
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
}
.about-authors__column-image img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.books-content1__title, .books-content2__title {
    text-align: center;
    font-size: 40px; 
}

.books-content1 li {
    margin-bottom: 15px;
}

.books-content1__list-elem {
    display: flex;
    justify-content: space-between;
}
.books-content1__list-elem span{
    margin-bottom: 15px;
}
.books-content2 li {
    list-style-type: none;
    margin-bottom: 5px;
}
.books-content2 {
   margin-bottom: 10px;
}

.books-content2__text-block {
    float: right;
    width: 68%;
} 

.books-content2__text-block__title {
    font-size: 30px;
}
.books-content2__list {
    float: right; 
    width: 53%;
}
.books-content2__list-elem {
    display: flex;
    justify-content: space-between;
}
.footer {
    text-align: right;
    margin-bottom: 15px;
}
.footer span {
    font-size: 22px;
}
